* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  height: 590px;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 240px;
  background: tomato;
  border: 1px solid #ffffff;
  color: #fff;
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 240px;
  background: #8f00ff;
  border: 1px solid #ffffff;
  color: #fff;
}

.box3 {
  width: 350px;
  height: 620px;
  background: dodgerblue;
  border: 1px solid #000;
  color: #fff;
  text-align: center;
  margin: 100px auto;
}

/* Responsive Design goes here! */

.responsive-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.item-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.item {
  background-color: #868e96;
  width: 200px;
  height: 200px;
}

@media screen and (min-width: 1024px) {
  .item-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .item {
    background-color: #868e96;
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 360px) and (max-width: 640px) {
  .item-container {
    display: flex;
    flex-direction: column;
  }

  .item {
    height: 100px;
    width: 400px;
  }
}

/* Using Grid */

.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .grid-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

@media screen and (min-width: 360px) and (max-width: 640px) {
  .grid-container {
    display: grid;
    grid-template-columns: 400px;
  }
}
